<div class="row">
  <div class="col-md-8-md-offset-2">
    <h1 class="text-center">DevMatch Community</h1>
    <p class="text-center">Welcome to the DevMatch Community. Users must fill out a profile to be visible to the community.</p>
    <ul class="list-unstyled">
      <% @users.each do |user| %>
          <% if user.profile %>
            <li>
              
              <div class="well row <%= cycle('white-bg', '') %>">
                <div class="col-sm-8 text-center">
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url(:thumb), class: "user-index-avatar" %>
                    <% end %>
                  <% end %>
                </div>
                
                <div>
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %><br></h2>
                  <% end %>
                  <p>
                    <%= user.profile.job_title %>
                    <% if user.plan_id == 2 %>
                      <span class="label label-danger">PRO</span>
                    <% end %>
                  </p>
                  <%= user.id%><br>
                </div>
              </div>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>