body {
  background: -webkit-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* W3C */
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; 
}