/* Users Show Page Styles */
.user-show-avatar {
  height: 128px;
  width: 128px;
}

.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    display: inline-block;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.well.profile-block {
  color: #fff;
  h3 {
      margin-top: 0;
    }
}

/* Users Index Page Styles */
.user-index-avatar {
 border-radius: 50%; 
}

.well.white-bg {
  background-color: white; 
}